Repository greschd/aiida-tbmodels: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, version-number

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.28.0
  hooks:
  - id: yapf
    language: system
- repo: local
  hooks:
  - id: prospector
    name: prospector
    entry: prospector
    types: [file, python]
    language: system
    exclude: '^(doc/)|(examples/)|(futures/)'
  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_tbmodels/__init__.py
      )$
    pass_filenames: false

Fix AiiDA trove classifier.
  setup.json
Due: version-number

Consistently use context manager for open files.
  aiida_tbmodels/calculations/eigenvals.py
  aiida_tbmodels/parsers/model.py
Due: prospector

Fix issues with the AiiDA config in the doc build.
  aiida_tbmodels/calculations/parse.py
  doc/source/conf.py
  setup.json
Due: prospector, version-number

Add option to specify sparsity for calculations with model output
  .travis.yml
  aiida_tbmodels/__init__.py
  aiida_tbmodels/calculations/_base.py
  aiida_tbmodels/calculations/eigenvals.py
  aiida_tbmodels/calculations/parse.py
  aiida_tbmodels/calculations/slice.py
  aiida_tbmodels/calculations/symmetrize.py
  setup.json
  setup.py
Due: prospector, version-number

Use 'load_documentation_profile' helper in documentation config
  doc/source/conf.py
Due: none

Add sphinxcontrib-details-directive to docs dependencies
  .pre-commit-config.yaml
  setup.json
Due: version-number

Remove build of alternative formats
  .readthedocs.yml
Due: none

Remove python2 compatibility support
  .pylintrc
  aiida_tbmodels/calculations/_base.py
  aiida_tbmodels/calculations/eigenvals.py
  examples/eigenvals/run.py
  examples/parse/run.py
  examples/slice/run.py
  examples/symmetrize/run.py
  setup.json
  tests/conftest.py
  tests/test_parse.py
  tests/test_slice.py
  tests/test_symmetrize.py
Due: prospector, version-number

Make 'sparsity' input optional
  .travis.yml
  aiida_tbmodels/calculations/_base.py
  tests/test_parse.py
Due: prospector

Remove 'sudo' from travis config, and change 'pip3' to 'pip'
  .travis.yml
Due: none

Update aiida-core requirement
  setup.json
Due: version-number

Update README
  README.md
Due: none

Add exit codes to parse and symmetrize calculations
  .pylintrc
  aiida_tbmodels/__init__.py
  aiida_tbmodels/calculations/parse.py
  aiida_tbmodels/calculations/symmetrize.py
  setup.json
Due: prospector, version-number

Update parser to emit exit codes for known TBmodels exceptions
  aiida_tbmodels/calculations/_base.py
  aiida_tbmodels/calculations/eigenvals.py
  aiida_tbmodels/calculations/parse.py
  aiida_tbmodels/calculations/slice.py
  aiida_tbmodels/calculations/symmetrize.py
  aiida_tbmodels/parsers/_base.py
  aiida_tbmodels/parsers/model.py
  setup.json
  tests/samples/silicon/silicon.win
  tests/samples/silicon/silicon_centres.xyz
  tests/samples/silicon/silicon_hr.dat
  tests/samples/silicon/silicon_wsvec.dat
  tests/test_eigenvals.py
  tests/test_parse.py
Due: prospector, version-number

Add restart workchain for parse calculation
  .pylintrc
  aiida_tbmodels/calculations/_base.py
  aiida_tbmodels/workflows/__init__.py
  aiida_tbmodels/workflows/parse.py
  setup.json
  tests/conftest.py
  tests/test_parse.py
  tests/test_parse_workchain.py
Due: prospector, version-number

Add tests for other 'pos_kind' values with parse workchain
  tests/test_parse_workchain.py
Due: prospector

Remove commented code
  tests/conftest.py
Due: prospector

Update pre-commit requirements
  setup.json
Due: version-number

Fix pre-commit errors
  tests/test_slice.py
  tests/test_symmetrize.py
Due: prospector

Update version to rc1
  aiida_tbmodels/__init__.py
  setup.json
Due: prospector, version-number

Fix link to AiiDA website in README
  README.md
Due: none

Implement setting 'distance_ratio_threshold'
  .pylintrc
  aiida_tbmodels/calculations/parse.py
  aiida_tbmodels/workflows/parse.py
  tests/test_parse_workchain.py
Due: prospector

Update version to rc2.
  aiida_tbmodels/__init__.py
  setup.json
Due: prospector, version-number

Move CI to Github actions, add mypy check
  .ci/configure.py
  .ci/install_script.sh
  .ci/test_config.yml
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  .travis-data/test_script.sh
  .travis.yml
  aiida_tbmodels/calculations/_base.py
  aiida_tbmodels/calculations/eigenvals.py
  aiida_tbmodels/calculations/parse.py
  mypy.ini
  setup.json
  setup.py
  utils/interpolate_yaml_anchors.py
Due: prospector, version-number

Add a calcfunction version of the 'eigenvals' calculation.
  aiida_tbmodels/calcfunctions/__init__.py
  aiida_tbmodels/calcfunctions/_eigenvals.py
  setup.json
  tests/test_eigenvals.py
Due: prospector, version-number

Try fixing codecov
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  tests/.coveragerc
  tests/.gitignore
Due: none

Ignore missing bands_inspect type stub
  mypy.ini
Due: none

Fix codecov
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: none
